{%extends 'mail/basic.html'%}
{%block css%}
{%endblock%}
{%block body%}
<div class="container">
<div class="row">
{%include "account/profile_basic.html"%}
	<div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 col-12">
		<h6 class="list-group-item bg-danger text-white font-weight-bolder">Change Password</h6>
	<div class="list-group-item ">
		<div class="ml-3">
			<h5>Change your current password with based on below 2 options</h5>
		<a href="/account/change_password_with_old" class="list-group-item list-group-item-success list-group-item-action my-4 text-danger">Remember Your old Password</a>
		<a href="/account/change_password_with_security" class="list-group-item list-group-item-success list-group-item-action mb-5 text-danger">Change Your Password with Your Security Question</a>
	</div>
	</div>
		</div>
	</div>
</div>
{%endblock%}
