{%extends 'mail/basic.html'%}
{%block css%}
.font-awesome-size{
    font-size:20px;
}
.font-awesome-delete:hover{
    font-size:25px;
    border-bottom:5px solid red;
}
.msg{
	font-size:20px;
}
.inbox-view-attach-file{
    font-size:50px;
}
.list-group-item{
	background-color:#fafafa;
}
{%endblock%}
{%block body%}
<div class="container">
<section class="my-5">
	<div class="list-group-item">
	    {%for msg in messages%}
		    <p class="alert alert-success font-weight-bolder text-success">{{msg}}</p>
		{%endfor%}
	<hr>
	<h4>{{inbox_view.sub|slice:":30"}}...<span class="float-right">
	    {%if inbox_view.starred%}
	<a href="/home/delete_starred\{{inbox_view.id}}" class="text-warning"><i class="fa fa-star font-awesome-size font-awesome-delete"></i></a>
	{%else%}
	<a href="/home/save_starred\{{inbox_view.id}}" class="text-info"><i class="fa fa-star font-awesome-size font-awesome-delete starred-inbox" id="starred{{msg.id}}"></i></a>
	{%endif%}
	</span>
	<hr>
	<a href="/media/{{inbox_view.from_user.pic}}"><img src="/media/{{inbox_view.from_user.pic}}" class=" img-inbox-sentmail rounded-circle float-left mr-4"></a>
		<b>{{inbox_view.from_user.user.email}}</b>
		<b><p>to me</p></b><br>
		<p>From: {{inbox_view.from_user.user.email}}</p>
		<p>To: {{inbox_view.profile.user.email}}</p>
		<p>Date: {{inbox_view.date}}</p><br>
		<div class="ml-5"><i class="fa fa-file-download mr-5 text-secondary inbox-view-attach-file"></i><br></div>
		<a href="/media/{{inbox_view.attach}}" style="font-size:14px;">{{inbox_view.attach.name|slice:"12:"}}</a><br><br>
		<p class="msg">{{inbox_view.msg}}</p><br><br><br>
		<button class="btn btn-outline-secondary btn-lg ml-5 font-weight-bolder px-4"><i class="fa fa-reply"></i> Reply</button>
		<button class="btn btn-outline-secondary btn-lg ml-3 font-weight-bolder px-4"><i class="fa fa-share"></i> Forward</button><br><br><br><br>
	</div>
</section>
</div>


{%endblock%}