{%extends 'mail/basic.html'%} 
{%block css%}
.img-respon{
	height:6vw;
	width:6vw;
}
.msg{
	font-size:20px;
}
.list-group-item{
	background-color:#fafafa;
}
{%endblock%}
{%block body%}
<div class="container">
<section class="my-5">
	<div class="list-group-item">
	<hr>
	<h4>{{inbox_view.sub}}</h4>
	<hr><img src="/media/{{inbox_view.from_user.pic}}" class=" img-inbox-sentmail rounded-circle float-left mr-4">
		<b>{{inbox_view.from_user.user.email}}</b>
		<b><p>to me</p></b><br>
		<p>From: {{inbox_view.from_user.user.email}}</p>
		<p>To: {{inbox_view.profile.user.email}}</p>	
		<p>Date: {{inbox_view.date}}</p>
		<p class="msg">{{inbox_view.msg}}</p><br><br><br>
		<button class="btn btn-outline-secondary btn-lg ml-5 font-weight-bolder px-4">Reply</button>
		<button class="btn btn-outline-secondary btn-lg ml-3 font-weight-bolder px-4">Forward</button><br><br><br><br>
	</div>
</section>
</div>


{%endblock%}